@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

.blog {
    font-family: 'Inconsolata', monospace;
    /* font-family: 'EB Garamond', serif; */
    /* font-family: 'Merriweather', serif; */
}

.postGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30vw);
    justify-content: space-evenly;
    grid-gap: 10px;
    padding: 2rem;
}

.postTitle {
    position: relative;
    /*     position: absolute;
    bottom: 8px;
    right: 16px; */
    background-color: #F9FAFB;
}

.postBox {
    position: relative;
    overflow: hidden;
}

.postBox img {
    width: 100%;
    height: 384px;
    object-fit: cover;
    transition: transform 1s ease;
    z-index: 0;
}

.postBox:hover img {
    transform: scale(1.1);
}

.postDate {
    color: #4d4d4d;
}

.loading {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    #blogLanding {
        height: 150px;
    }

    .postGrid {
        grid-template-columns: repeat(auto-fit, 50vw);
    }
}

@media only screen and (max-width: 600px) {
    .postGrid {
        grid-template-columns: repeat(auto-fit, 80vw);
    }
}