.postBox {
    width: 100%;
    margin: auto;
}

.postBox img {
    width: 100%;
    max-height: 400px;
    border-radius: 2px 2px 0 0;
}

.postTitle {
    border-radius: 0 0 2px 2px;
}

.loading {
    text-align: center;
}

@media only screen and (max-width: 900px) {

    .grid {
        grid-template-columns: auto;
        grid-gap: 10px;
        width: 100%;
    }
}