#blogLanding {
    display: block;
    object-fit: cover;
    border-radius: 0px;
    width: 100%;
    height: 30vh;
    opacity: 1;
    object-position: center 50%;
}

.blogInfo img {
    width: 100%;
    height: auto;
}

.postGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}

.postTitle {
    position: relative;
/*     position: absolute;
    bottom: 8px;
    right: 16px; */
    background-color: #F9FAFB;
}

.postBox {
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

.postBox img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    transition: transform 1s ease;
    z-index: 0;
}

.postBox:hover img {
    transform: scale(1.1);
}

.postDate {
    color: #4d4d4d;
}

.loading {
    text-align: center;
}

@media only screen and (max-width: 900px) {
    #blogLanding {
        height: 150px;
    }
    .postBox img {
        height: 200px;
    }
    .blog .grid {
        grid-template-columns: repeat(auto-fit, 1fr);
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .blog .grid {
        grid-template-columns: auto;
        width: 90%;
    }
}