.contactContent {
    min-height: 100vh;
}

.contactGrid {
    display: grid;
    max-width: 840px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#contactInput {
    padding: 0 1rem;
    max-width: 350px;
}

@media only screen and (max-width: 900px) {
    .contactGrid {
        grid-template-columns: auto;
        width: 100%;
    }
    
    #contactInput {
        margin: auto;
        padding: 0;
        width: 50vw;
    }
}

@media only screen and (max-width: 600px) {

    #contactInput {
        width: 70vw;
    }
}