.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.box {
    display: grid;
    grid-template-columns: 45% 55%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    transition: ease-in-out 0.1s;
}

.box:hover {
    color: rgb(32, 149, 178);
}

.box img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 120px;
}

.box h2 {
    margin: auto;
    font-size: 1.3rem;
}

.box:hover {
    transform: scale(1.03);
    transition: ease-in-out 0.1s;
}

@media only screen and (max-width: 600px) {

    .case {
        width: 100%;
    }
    
    .grid {
        grid-template-columns: auto;
        grid-gap: 20px;
        width: 100%;
        justify-content: initial;
    }
}