#home {
    margin-top: 10vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.box {
    color: white;
    background-color: #2d545e;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease-in-out 0.1s;
}

.box:hover {
    color: rgb(32, 149, 178);
}

.box img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box h2 {
    margin: auto;
    font-size: 1.3rem;
    padding: 1rem;
}

.box:hover {
    transform: scale(1.03);
    transition: ease-in-out 0.1s;
}

@media only screen and (max-width: 900px) {
    #home {
        margin-top: 5vh;
    }
    .grid {
        grid-template-columns: auto;
        grid-gap: 20px;
        width: 60%;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .grid {
        width: 100%;
    }
}