nav {
    margin-bottom: 0.7rem;
}

.link {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    background: rgba( 255, 255, 255, 0.10);
    box-shadow: 0 8px 32px 0 rgba(7, 10, 58, 0.37);
    backdrop-filter: blur( 4.0px);
    -webkit-backdrop-filter: blur( 4.0px);
    border-radius: 10px;
    border-radius: 5px;
    color: white;
}

.link:hover {
    filter: brightness(80%);
}

.link:active {
    color: white;
}

#logoButton {
    background: rgba(185, 19, 19, 0.589);
}

a {
    text-decoration: none;
    list-style: none;
}

a:link {}

a:visited {}

a:hover {
    color: rgb(236, 255, 255);
}

@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
    }
}