nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0.7rem 0;
    border: 1px solid lightgrey;
}

.link-row {
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    margin: auto 1rem;
}

.link-row a {
    border-bottom: 3px solid transparent;
    width: fit-content;
    padding: 5px;
}

.link {
    font-size: 18px;
    margin: 0 1rem;
    width: fit-content;
}
.link-row a:hover {

    border-radius: 10px;
    background-color: #1e857923;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    width: fit-content;
    white-space: nowrap;
    margin: auto 0;
    margin-left: 1rem;
    letter-spacing: 1px;
}

.logo:hover {
    color: #208d75;
}

a {
    text-decoration: none;
    list-style: none;
}

@media only screen and (max-width: 768px) {
    nav {
        overflow: hidden;
        grid-template-columns: auto;
    }

    .logo {
        margin: auto;
    }
    
    .link-row {
        display: none;
        grid-template-columns: auto;
        justify-content: start;
    }

    .space {
        display: none;
    }
}