
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');


.postBody img {
    margin: 2rem auto;
}

.postCase {
    /* font-family: 'EB Garamond', serif; */
    /* font-family: 'Inconsolata', monospace; */
    /*font-family: 'Merriweather', serif; */
    font-family: 'Times New Roman', Times, serif;
}

.postCase img {
    width: 100%;
}
/*
.author {
    display: flex;
    width: fit-content;
    padding: 5px;
}

.author p {
    margin: auto;
    font-weight: bold;
    white-space: nowrap;
}

.author img {
    margin-right: 5px;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    object-fit: cover;
}
*/

#authorText {
    color: #707070;
    font-size: 1rem;
}

blockquote {
    font-style: italic;
}

.backButton {
    width: 48px;
    height: 48px;
}

.body h1, .body h2, .body h3, .body h4 {
    margin: 1.25rem auto;
    text-align: center;
}

.body h1 {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
}

.body h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.body h3 {
    font-size: 1.35rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.body h4 {
    font-size: 1.2rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.body p {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 1.5rem auto;
    text-align: justify;
}

.body a {
    font-size: 1.1rem;
    color: rgb(235, 118, 10);
}

.loading {
    display: flex;
    width: fit-content;
    margin: auto;
    height: 40vh;
}

.loading img {
    width: 64px;
    height: 64px;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .body h1, .body h2, .body h3, .body h4 {
        width: 90%;
    }
    
    .body p, a, blockquote {
        width: 90%;
        margin: auto;
    }
    
}