.postCase{
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.postCase img {
    margin: 0 auto;
}

.author {
    display: flex;
    width: fit-content;
    padding: 5px;
}

.author p {
    margin: auto;
    white-space: nowrap;
}

.author img {
    margin-left: 5px;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    object-fit: cover;
}

blockquote {
    font-style: italic;
}

.backButton {
    width: 48px;
    height: 48px;
}

.body {
    margin: 1rem auto;
}

.loading {
    display: flex;
    width: fit-content;
    margin: auto;
    height: 30vh;
}

.loading img {
    width: 64px;
    height: 64px;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .postCase {
        width: 100%;
    }
    .body {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .postCase {
        width: 100%;
    }
    .body {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .body {
        width: 94%;
    }
}

