.body {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.body img {
    margin: 0 auto;
}

blockquote {
    font-style: italic;
}

.backButton {
    width: 48px;
    height: 48px;
}

@media only screen and (max-width: 900px) {
    .body {
        width: 98%;
    }
}
