@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;800&display=swap');
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #212121;
  background: #F3F3F3;
  scroll-behavior: smooth;
}

/* Remove highlighting on press - mobile devices

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*/
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.case {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .case {
    margin-top: 5vh;
    width: 90%;
  }
}